{% extends "base.html" %}

{% block content %}
    <h1>Etablir une session</h1>
    <p>Nouvel utilisateur? <a href="{{ url_for('enregistrer') }}">Cliquez ici pour s'enregistrer!</a></p>
    <form action="" method="post" novalidate>
        {{ formulaire.hidden_tag() }}
        <p>
            {{ formulaire.nom.label }}<br />
            {{ formulaire.nom(size=32) }}<br />
            {% for erreur in formulaire.nom.errors %}
                <span style="color: red;">[{{ erreur }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ formulaire.mot_de_passe.label }}<br />
            {{ formulaire.mot_de_passe(size=32) }}<br />
            {% for erreur in formulaire.mot_de_passe.errors %}
                <span style="color: red;">[{{ erreur }}]</span>
            {% endfor %}
        </p>
        <p>{{ formulaire.se_souvenir_de_moi() }} {{ formulaire.se_souvenir_de_moi.label }}</p>
        <p>{{ formulaire.soumettre() }}</p>
    </form>
{% endblock %}