{% extends "base.html" %}

{% block content %}
        <h1>Bonjour, {{ current_user.nom }}!</h1>
        <img src="{{current_user.avatar}}">
        {% if formulaire %}
        <form action="" method="post">
            {{ formulaire.hidden_tag() }}
            <p>
                {{ formulaire.publication.label }}<br>
                {{ formulaire.publication(cols=32, rows=4) }}<br>
                {% for erreur in formulaire.publication.errors %}
                <span style="color: red;">[{{ erreur }}]</span>
                {% endfor %}
            </p>
            <p>{{ formulaire.soumettre() }}</p>
        </form>    
        {% endif %} 

        {% for p in publications %}
            <div><p><a href="{{ url_for('utilisateur', nom=p.auteur.nom) }}"><img src="{{ p.auteur.avatar }}" width="50"></a>{{ p.auteur.nom }} dits: <b>{{ p.corps }}</b></p></div>
        {% endfor %}

        {% if precedent %}
            <a href="{{ precedent }}">Précedent</a>
        {% endif %}
        {% if suivant %}
            <a href="{{ suivant }}">Suivant</a>
        {% endif %}
        
{% endblock %}